<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentechGateway">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentechGateway1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.paymentech.net/PaymentechGateway"
                binding="basicHttpBinding" bindingConfiguration="PaymentechGateway"
                contract="PaymentechServiceReference.PaymentechGatewayPortType"
                name="PaymentechGateway" />
        </client>
    </system.serviceModel>
</configuration>